<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>小书屋</title>
    <meta charset="utf-8" />
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/case.css" rel="stylesheet" />
    <script src="script/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="script/case.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <div class="footer container-fluid">
        <div class="list-group bomtab">
            <a href="case.html" class="list-group-item" style="margin-left:0px;">书架</a>
            <a href="free.html" class="list-group-item">免费</a>
            <a href="index.html" class="list-group-item">书城</a>
            <a href="create.html" class="list-group-item">搜索</a>
            <a href="self.html" class="list-group-item">我的</a>
        </div>
    </div>
    <div class="container-fluid clickbook">
        <img src="image/homeimg1.jpg" />
        <div class="bookm">
            <div class="bookn"></div>
            <div class="jdu">已读32.5%</div>
            <div class="btnji"><button type="button" class="btn btn-info" onclick="window.location.href = 'list.html';">继续阅读</button></div>
        </div>
    </div>
    <div class="container-fluid clsjing">
        <div class="mfbook">
            <img src="image/homeimg1.jpg" />
            <div class="bookname">斗破苍穹 </div>
            <div class="bookautor">天蚕土豆</div>
        </div>
        <div class="mfbook">
            <img src="image/homeimg1.jpg" />
            <div class="bookname">斗破苍穹 </div>
            <div class="bookautor">天蚕土豆</div>
        </div>
        <div class="mfbook">
            <img src="image/topb.jpg" />
            <div class="bookname">一念永恒 </div>
            <div class="bookautor">耳根</div>
        </div>
        <div class="mfbook">
            <img src="image/homeimg1.jpg" />
            <div class="bookname">斗破苍穹 </div>
            <div class="bookautor">天蚕土豆</div>
        </div>
        <div class="mfbook">
            <img src="image/homeimg1.jpg" />
            <div class="bookname">斗破苍穹 </div>
            <div class="bookautor">天蚕土豆</div>
        </div>
        <div class="mfbook">
            <img src="image/homeimg1.jpg" />
            <div class="bookname">斗破苍穹 </div>
            <div class="bookautor">天蚕土豆</div>
        </div>
        <div class="mfbook">
            <img src="image/homeimg1.jpg" />
            <div class="bookname">斗破苍穹 </div>
            <div class="bookautor">天蚕土豆</div>
        </div>
        <div class="mfbook">
            <img src="image/homeimg1.jpg" />
            <div class="bookname">斗破苍穹 </div>
            <div class="bookautor">天蚕土豆</div>
        </div>
    </div>
    <div class="container-fluid scfoot">

    </div>
</body>
</html>
