<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>小书屋</title>
	<meta charset="utf-8" />
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <script src="script/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="script/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <div class="header container-fluid">书城
    </div>
    <div class="footer container-fluid">
        <div class="list-group bomtab">
            <a href="case.html" class="list-group-item" style="margin-left:0px;">书架</a>
            <a href="free.html" class="list-group-item">免费</a>
            <a href="index.html" class="list-group-item">书城</a>
            <a href="create.html" class="list-group-item">搜索</a>
            <a href="self.html" class="list-group-item">我的</a>
        </div>
    </div>
    <img id="homeimg" src="image/homeimg1.jpg" />
    <div class="content container-fluid row">
        <div class="navcls col-xs-1 bj1"></div>
        <div class="navcls col-xs-1 bj2"></div>
        <div class="navcls col-xs-1 bj3"></div>
        <div class="navcls col-xs-1 bj4"></div>
        <div class="navcls col-xs-1 bj5"></div>
        <div class="navcls2 col-xs-1" style="margin-left:30px;">分类</div>
        <div class="navcls2 col-xs-1">排行</div>
        <div class="navcls2 col-xs-1">女频</div>
        <div class="navcls2 col-xs-1">男频</div>
        <div class="navcls2 col-xs-1">完结</div>
    </div>
    <div class="container-fluid blitil">

    </div>
    <div class="container-fluid bookli">
        <img src="image/homeimg1.jpg" />
        <p class="bookTitle">斗破苍穹</p>
        <p class="bookCon">这里是属于斗气的世界，没有花俏艳丽的魔法，有的，仅仅是繁衍到巅峰的斗气！</p>
        <p class="bookmsg"><span>作者:天蚕土豆</span><span>订阅：250000</span><span>点击:10000000</span></p>
    </div>
    <div class="container-fluid bookli">
        <img src="image/homeimg1.jpg" />
        <p class="bookTitle">斗破苍穹</p>
        <p class="bookCon">这里是属于斗气的世界，没有花俏艳丽的魔法，有的，仅仅是繁衍到巅峰的斗气！</p>
        <p class="bookmsg"><span>作者:天蚕土豆</span><span>订阅：250000</span><span>点击:10000000</span></p>
    </div>
    <div class="container-fluid bookli">
        <img src="image/homeimg1.jpg" />
        <p class="bookTitle">斗破苍穹</p>
        <p class="bookCon">这里是属于斗气的世界，没有花俏艳丽的魔法，有的，仅仅是繁衍到巅峰的斗气！</p>
        <p class="bookmsg"><span>作者:天蚕土豆</span><span>订阅：250000</span><span>点击:10000000</span></p>
    </div>
    <div class="container-fluid bookli">
        <img src="image/homeimg1.jpg" />
        <p class="bookTitle">斗破苍穹</p>
        <p class="bookCon">这里是属于斗气的世界，没有花俏艳丽的魔法，有的，仅仅是繁衍到巅峰的斗气！</p>
        <p class="bookmsg"><span>作者:天蚕土豆</span><span>订阅：250000</span><span>点击:10000000</span></p>
    </div>
    <div class="container-fluid bookli">
        <img src="image/homeimg1.jpg" />
        <p class="bookTitle">斗破苍穹</p>
        <p class="bookCon">这里是属于斗气的世界，没有花俏艳丽的魔法，有的，仅仅是繁衍到巅峰的斗气！</p>
        <p class="bookmsg"><span>作者:天蚕土豆</span><span>订阅：250000</span><span>点击:10000000</span></p>
    </div>
    <div class="container-fluid bookli">
        <img src="image/homeimg1.jpg" />
        <p class="bookTitle">斗破苍穹</p>
        <p class="bookCon">这里是属于斗气的世界，没有花俏艳丽的魔法，有的，仅仅是繁衍到巅峰的斗气！</p>
        <p class="bookmsg"><span>作者:天蚕土豆</span><span>订阅：250000</span><span>点击:10000000</span></p>
    </div>
    <div class="container-fluid bookli">
        <img src="image/homeimg1.jpg" />
        <p class="bookTitle">斗破苍穹</p>
        <p class="bookCon">这里是属于斗气的世界，没有花俏艳丽的魔法，有的，仅仅是繁衍到巅峰的斗气！</p>
        <p class="bookmsg"><span>作者:天蚕土豆</span><span>订阅：250000</span><span>点击:10000000</span></p>
    </div>
    <div class="container-fluid bookli">
        <img src="image/homeimg1.jpg" />
        <p class="bookTitle">斗破苍穹</p>
        <p class="bookCon">这里是属于斗气的世界，没有花俏艳丽的魔法，有的，仅仅是繁衍到巅峰的斗气！</p>
        <p class="bookmsg"><span>作者:天蚕土豆</span><span>订阅：250000</span><span>点击:10000000</span></p>
    </div>
    <div class="container-fluid bookli">
        <img src="image/homeimg1.jpg" />
        <p class="bookTitle">斗破苍穹</p>
        <p class="bookCon">这里是属于斗气的世界，没有花俏艳丽的魔法，有的，仅仅是繁衍到巅峰的斗气！</p>
        <p class="bookmsg"><span>作者:天蚕土豆</span><span>订阅：250000</span><span>点击:10000000</span></p>
    </div>
    <div class="container-fluid bookli">
        <img src="image/homeimg1.jpg" />
        <p class="bookTitle">斗破苍穹</p>
        <p class="bookCon">这里是属于斗气的世界，没有花俏艳丽的魔法，有的，仅仅是繁衍到巅峰的斗气！</p>
        <p class="bookmsg"><span>作者:天蚕土豆</span><span>订阅：250000</span><span>点击:10000000</span></p>
    </div>
    <div class="container-fluid lookmore">
        <button type="button" class="btn btn-success btn-lg btn-block more">查看更多</button>
    </div>
    <div class="container-fluid scfoot">
        
    </div>
</body>
</html>
