<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>小书屋</title>
    <meta charset="utf-8" />
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/list.css" rel="stylesheet" />
    <script src="script/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="script/self.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <div class="container-fluid clickbook">
        <img src="image/homeimg1.jpg" />
        <div class="bookm">
            <div class="bookn">斗破苍穹</div>
            <div class="jdu">作者:<span>天蚕土豆</span></div>
            <div class="jdu">类别:<span>玄幻</span></div>
            <div class="btnji"><button style="margin-left:0px;" type="button" class="btn btn-default">加入书架</button><button type="button" class="btn btn-default">开始阅读</button></div>
        </div>
    </div>
    <!--<div class="container-fluid bgk"></div>-->
    <div class="container-fluid jiesao">
        简介
    </div>
    <div class="container-fluid jscon">
        <p>这是简介内容文字，刷卡机非农数据看风景吧见到过黄金国际带空格你觉得看过你打开就给你打款给你贷款功能及多功能打款给你顶都可能会看到机会</p>
    </div>
    <div class="container-fluid listtit">
        书籍目录
    </div>
    <div class="container-fluid booklist">
        <a href="content.html"><li>第一章 哈哈哈哈</li></a>
        <a href="content.html"><li>第二章 哈哈哈哈</li></a>
        <a href="content.html"><li>第三章 哈哈哈哈</li></a>
        <a href="content.html"><li>第一章 哈哈哈哈</li></a>
        <a href="content.html"><li>第二章 哈哈哈哈</li></a>
        <a href="content.html"><li>第三章 哈哈哈哈</li></a>
        <a href="content.html"><li>第一章 哈哈哈哈</li></a>
        <a href="content.html"><li>第二章 哈哈哈哈</li></a>
        <a href="content.html"><li>第三章 哈哈哈哈</li></a>
        <a href="content.html"><li>第一章 哈哈哈哈</li></a>
        <a href="content.html"><li>第二章 哈哈哈哈</li></a>
        <a href="content.html"><li>第三章 哈哈哈哈</li></a>
</div>
    <div class="container-fluid scfoot">

    </div>
</body>
</html>
