<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>小书屋</title>
    <meta charset="utf-8" />
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/regist.css" rel="stylesheet" />
    <script src="script/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="script/self.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <div class="header container-fluid">
        注册
    </div>
    <div class="container-fluid loginfrom">
        <form action="#" method="post">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-star-empty"></span></span>
                <input type="text" class="form-control" placeholder="昵称">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" placeholder="账号">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                <input type="password" class="form-control" placeholder="请设置密码">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                <input type="password" class="form-control" placeholder="请确认密码">
            </div>
            <button type="button" class="btn btn-info btn-lg btn-block">确认注册</button>
        </form>
        <button type="button" class="btn btn-success history" onclick="history.go(-1)"><span class="glyphicon glyphicon-chevron-left"></span>返回</button>
    </div>
    <div class="container-fluid scfoot">

    </div>
</body>
</html>
