.header{
    height:40px;
    background:#ffffff;
    font-weight:bold;
    text-align:center;
    position:fixed;
    top:0px;
    width:100%;
    line-height:40px;
    font-size:24px;
    box-shadow:0 5px 10px #1af8f5;
}
.footer{
    position:fixed;
    bottom:0px;
    height:50px;
    width:100%;
    background:#ffffff;
    border-top:1px solid #b2b4b4;
}
.bomtab a{
    border:none;
    margin-left:4px;
    height:50px;
    width:19%;
    float:left;
    box-shadow:-5px 5px 20px #888888;
    text-align:center;
    line-height:30px;
    font-weight:bold;
    font-family:"黑体";
    font-size:14px;
}
.bomtab a:hover{
    background:#b2b4b4;
}
.scfoot {
    height:60px;
    margin-top:10px;
}
.loginfrom {
    margin-top:80px;
    height:300px;
}
.loginfrom div{
    margin-top:20px;
}
.loginfrom button{
    margin-top:30px;
}
